.App {
  text-align: center;
}
.tree-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Add some spacing between tree name and the image icons */
}

.tree-name {
  margin-right: 20px; /* Adjust the spacing between the tree name and the icons */
}

.save,
.share,
.avatar {
  width: 30px; /* Adjust the width as needed */
  margin-right: 10px; /* Adjust the spacing between the icons */
}

.tree {
  height: 40vmin;
  pointer-events: none;
}

.speakers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20vh;
}

.speaker-avatar{
  height: 7vmin;
  width: 7vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .tree {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:auto;
  padding: 20px 0;
}

.mute {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add spacing between the mute text and the toggle button */
}

.toggle-button {
  width: 50px; /* Adjust the width as needed */
}

.leave-button {
  background-color: #16f662;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.leave-button:hover {
  background-color: #16f662;
}
