@media screen and (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .tree-name {
    font-size: calc(12px + 2vmin);
  }
}

/* For larger screens, increase the font size */
@media screen and (min-width: 1200px) {
  .App-header {
    font-size: calc(12px + 2vmin);
  }

  .tree-name {
    font-size: calc(16px + 2vmin);
  }
}

.App {
  text-align: center;
}
.tree-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Add some spacing between tree name and the image icons */
}

.tree-name {
  color: black;
  margin-right: 20px; /* Adjust the spacing between the tree name and the icons */
}

.save,
.share,
.avatar {
  width: 30px; /* Adjust the width as needed */
  margin-right: 10px; /* Adjust the spacing between the icons */
}

.tree {
  max-width: 100%;
  height: auto;
  max-height: 60vh;
}

.speakers{
  display: flex;
  align-items: flex-start;
  justify-content: center;;
  margin-top: 10vh;
}

.sound-button{
  height: 60px;
}
.speaker-avatar { /* Adjust the size as needed */
  height: 60px; /* Adjust the size as needed */
}

.speaker-avatar {
  margin-left: 40px; /* Adjust the spacing as needed */
}
@media screen and (max-width: 768px) {
  .speakers {
    justify-content: space-between; /* Set the items to spread out on smaller screens */
  }

  .sound-button,
  .speaker-avatar {
    height: 40px; /* Reduce the size of the sound-button and speaker-avatar for smaller screens */
  }

  .speaker-avatar {
    margin-left: 20px; /* Reduce the spacing between the sound-button and speaker-avatar for smaller screens */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tree {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottom{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top:auto;
  padding: 20px 0;
}

.mute {
  display: flex;
  align-items: center;
  margin-right: 50px; /* Add spacing between the mute text and the toggle button */
}

.mute-icon{
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin-right: 10px;
}

.toggle-button {
   /* Increase the width of the toggle-button */
  height: 30px; /* Adjust the width as needed */
}

.leave-button {
  background-color: #16f662;
  width:max-content;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}

.leave-button:hover {
  background-color: #16f662;
}

.bottom div {
  margin-right: 20px; /* Adjust the spacing as needed */
}
